/* Variables */

:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-blue: #32425C;
    --basic-gray: #C5C5C5;
    --basic-darkblue: #293449;
    --basic-darkgray: #B7BFC8;
    --basic-lightwhite: #F3F7F9;
    --basic-whiteblue: #3BBCE3;
    --basic-lightgreen: #8ED78F;
    --basic-pink: #DC91D8;
    --basic-orange: #FFBF47;
    --basic-carrot-orange: #FFC047;
    --basic-lightgray: #EAEAEA;
    --basic-color-gray: #A9A9A9;
    --basic-beige: #F9F5F0;
    --basic-whitegray: #F9F5F0;
    --basic-gold: #FFD180;
    --basic-lightblack: #212A3A;
    --basic-item-gold: #FFDA96;
    --basic-whitebeige: #F4F4F4;
    --basic-againgray: #C1C6CE;
    --basic-specialgray: #E5E5E5;
    --basic-elephant: #ABABAB;
    --basic-cream: #F7F3EC;
    --basic-specialblack: #444444;
    --basic-mouse: #D7DCDE;
    --basic-milk: #F2F6F8;
    --basic-backgroundblue: #F1F5F7;
    --basic-background-light-blue: #F3F7F8;
    --basic-background-green: #5FBB2D;
    --basic-background-red: #BA2732;
    --basic-background-black: #161D29;
    --basic-background-hover-blue: #3D546F;
    --basic-background-active-blue: #1D2739;
    --basic-background-dark-green: #518534;
    --basic-special-color-gray: rgba(255, 255, 255, 0.5);
    --basic-special-color-black: rgba(0, 0, 0, 0.25);
    --basic-special-color-blue: rgb(50, 66, 92, 0.5);
    --basic-special-color-double-gray: rgb(241, 245, 247, 0.5);
    --basic-special-color-beige: rgb(255, 209, 128, 0.5);
    --basic-special-color-dark-black: rgb(0, 0, 0, 0.4);
    --basic-special-color-white: #B5B5B5;
    --basic-special-rgb-white: rgb(255, 255, 255, 0.15);
    --basic-opacity-white: rgb(255, 255, 255, 0.3);
    --basic-opacity-gray: rgb(197, 197, 197, 0.3);
    --basic-opacity-color-gray: rgb(169, 169, 169, 0.3);
    --basic-opacity-black: rgb(0, 0, 0, 0.15);
}

/* Global */

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: normal;
    background-color: var(--basic-white);
    line-height: 24px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* header */

.main-header {
    font-family: "Cuprum", "Arial", sans-serif;
    background-color: var(--basic-background-light-blue);
    font-size: 18px;
}

.top-menu {
    color: var(--basic-white);
    background-color: var(--basic-darkblue);
}

.top-menu a {
    color: var(--basic-white);
}

.buy-order {
    background-color: var(--basic-green);
}

.main-header h1 {
    font-size: 16px;
    font-style: italic;
    color: var(--basic-red);
    font-weight: normal;
}

.company-info a {
    font-size: 21px;
    color: var(--basic-red);
    font-weight: bold;
    border: 3px solid var(--basic-white);
}

.company-info address {
    color: var(--basic-blue);
    font-size: 14px;
    font-style: normal;
}

.login {
    font-size: 21px;
    background-color: var(--basic-white);
}

.menu-navigation {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    margin-left: 130px;
    margin-right: 130px;
    list-style-type: none;
}

.menu-navigation a {
    color: var(--basic-white);
}

/* Main page */

.mini-menu {
    font-family: "Cuprum", "Arial", sans-serif;
    color: var(--basic-white);
    font-weight: bold;
    font-size: 24px;
    width: 300px;
}

.mini-menu a {
    color: var(--basic-white);
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: var(--basic-opacity-white);
}
.mini-menu-materials {
    background-color: var(--basic-orange);
}

.mini-menu-tool {
    background-color: var(--basic-whiteblue);
}

.mini-menu-equipment {
    background-color: var(--basic-pink);
}

.mini-menu-discounts {
    background-color: var(--basic-lightgreen);
}

.mini-menu-delivery {
    background-color: var(--basic-carrot-orange);
    font-weight: bold;
}

.open-catalog {
    font-size: 14px;
    width: 192px;
    background-color: var(--basic-red);
}

.popular-heading {
    font-family: "Cuprum", "Arial", sans-serif;
    width: 940px;
    text-transform: uppercase;
    background-color: var(--basic-beige);
}

.popular-heading h2 {
    color: var(--basic-blue);
    font-size: 30px;
}

.popular-heading a {
    width: 192px;
    font-size: 14px;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.popular-manufacturers {
    list-style-type: none;
}

.services {
    background-color: var(--basic-backgroundblue);
}

.services h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.services button {
    width: 240px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    color: var(--basic-white);
    background-color: var(--basic-blue);
}
.services-bottom h2{
    font-family: "Cuprum", "Arial", sans-serif;
    color: var(--basic-blue);
    font-size: 30px;
}

.services-bottom a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    width: 195px;
    color: var(--basic-white);
    background-color: var(--basic-red);
    text-transform: uppercase;
}

.slides h2  {
    font-size: 36px;
    color: var(--basic-white);
    font-weight: bold;
}

.slides p {
    font-size: 18px;
    color: var(--basic-white);
}
.bottom-info-company {
    background-color: var(--basic-white);
}

.bottom-info-company h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.bottom-info-company p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
}

.link-red {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.partners {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size:18px;
}

/* End Main page*/

/* footer */

.main-footer {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    background-color: var(--basic-blue);
}

.main-footer address {
    color:  var(--basic-lightwhite);
    font-style: normal;
} 

.telephone-number {
    color:  var(--basic-lightwhite);
    font-style: normal;
}

.main-footer li {
    list-style-type: none;
}

.bottom-white-menu a   {
    color: var(--basic-backgroundblue);
}

.bottom-gold-menu a {
    color: var(--basic-gold);
}

.bottom-gold-menu-alone  {
    color: var(--basic-item-gold);
}

.last-bottom-menu {
    color: var(--basic-white);
    font-size: 16px;
    background-color: var(--basic-darkblue);
}

.icon-social    {
    width: 26px;
    height: 15px;
}

.pop-up-basket {
    display: none;
}

.big-map {
    display: none;
}

.pop-up-feedback {
    display: none;
}

/* catalog */

.top-menu-basket {
    background-color: var(--basic-red); /* скорее всего это делается по-другому, нужно будет потом проверить обязательно */
}

.login-user {
    background-color: var(--basic-white);
}

.login-user a:nth-child(1) {
    font-size: 21px;
}

.info-user {
    color: var(--basic-blue);
    font-size: 16px;
}

.history-pages {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    list-style-type: none;
}

.main-heading {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: var(--basic-blue);
    text-transform: uppercase;
    background-color: var(--basic-milk);
}

.main-heading p {
    text-transform: uppercase;
}

.sorting {
    width: 700px;
    background-color: var(--basic-cream);
}

.sorting li {
    list-style-type: none;
    text-transform: uppercase;
}

.sorting li:nth-child(1) {
    color: var(--basic-red);
}

.sorting li:nth-child(2) {
    color: var(--basic-black);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--basic-red);
}

.sorting li:nth-child(3) {
    color: var(--basic-black);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--basic-red);
}

.filter-alone {
    background-color: var(--basic-cream);
}

.sorting p {
    text-transform: uppercase;
}

.filter-alone {
    text-transform: uppercase;
}

.filter-price input {
    background-color: var(--basic-cream);
}

.filter-price legend {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.filter {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.filter legend {
    font-size: 17px;
    font-weight: bold;
}

.filter button {
    font-size: 13px;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-specialgray);
    text-transform: uppercase;
    width: 220px;
}

.catalog-cards {
    list-style-type: none;
    font-family: "PT Sans", "Arial", sans-serif;
}
.card {
    width: 220px;
    border: 1px solid var(--basic-lightgray);
}

.card h3 {
    font-weight: bold;
}

.first-price {
    font-size: 17px;
    color: var(--basic-color-gray);
    text-transform: uppercase;
    text-decoration: line-through;
}

.card p {
    font-size: 17px;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.change-page {
    font-size: 14px;
    text-transform: uppercase;
}

.change-page-first {
    width: 135px;
    background-color: var(--basic-green);
    color: var(--basic-white);
}

.change-page-second {
    width: 135px;
    border: 1px solid var(--basic-green);
    color: var(--basic-blue);
}

.one-two-three {
    text-transform: uppercase;
}

.one-two-three li {
    list-style-type: none;
    border: 1px solid var(--basic-specialgray);
}

.menu-bottom {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
}

.last-bottom-menu {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
}

.last-bottom-menu-mail {
    color: var(--basic-gold);
}

.about-drill {
    background-color: var(--basic-backgroundblue);
}


.about-drill h2{
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}



/* interactive elements */

.buy-oder:hover {
    background-color: var(--basic-background-green);
}

.buy-order:active {
    color: var(--basic-special-color-gray);
}

.top-menu image:active {
    box-shadow: var(--basic-special-color-black);
}

.top-menu .logo-top:active {
    background-color: var(--basic-background-red);
}

.active-top-menu:active {
    color: var(--basic-special-color-gray);
    background-color: var(--basic-background-black);
}

.top-menu input:focus {
    background-color: var(--basic-white);
}

.login:hover {
    color: var(--basic-red);
}

.login:active {
    color: var(--basic-gray);
}

.login-user span:hover {
    color: var(--background-hover-blue);
}

.login-user a:active {
    color: var(--basic-gray);
}

.info-user:hover {
    color: var(--basic-red);
}

.info-useractive {
    color: var(--basic-gray);
}

.menu-navigation-company:hover {   
    background-color: var(--basic-darkblue);
}

.menu-navigation-company:active {
    color: var(--basic-special-color-gray);
    background-color: var(--basic-background-active-blue);
}

.mini-menu a:hover {
    background-color: var(--basic-opacity-gray);
}

.mini-menu a:active {
    background-color: var(--basic-opacity-color-gray);
}

.sorting li:hover   {
    color: var(--basic-black);
    text-decoration: underline;
    text-decoration-color: var(--basic-red);
}

.sorting li:active {
    color: var(--basic-red);
    text-decoration: none;
}

.one-two-three li:hover {
    border: 1px solid var(--basic-gray);
}

.one-two-three li:active {
    color: var(--basic-black);
    border: 1px solid var(--basic-red);
}


.open-catalog:active {
    background-color: var(--basic-background-red);
}

.change-page-first:hover {
    background-color: var(--basic-background-green);
}

.change-page-first:active {
    background-color: var(--basic-background-dark-green);
}

.change-page-second:hover {
    color: var(--basic-blue);
    border: 1px solid var(--basic-blue);
}

.change-page-second:active {
    color: var(--basic-special-color-blue);
    border: 1px solid var(--basic-special-color-blue);
}

.popular-manufacturers img:hover {
    box-shadow: 0px 4px 20px var(--basic-opacity-black);
}
.popular-manufacturers img:active {
    opacity: 0.5;
}

.services button:hover {
    background-color: var(--basic-darkblue);
}

.services button:active {
    color: var(--basic-blue);
    background-color: var(--basic-white); /* Нужно убрать рамку при нажатии */
}

.menu-bottom a:hover {
    text-decoration: underline;
}

.bottom-white-menu a:active {
    color: var(--basic-special-color-double-gray);
}

.bottom-gold-menu a:active {
    color: var(--basic-special-color-beige);
}

.bottom-gold-menu span:active {
    color: var(--basic-special-color-beige);
}

.social-networks:hover {
    background-color: var(--basic-red);
}

.social-networks:active {
    background-color: var(--basic-red);
}

.last-bottom-menu span:hover {
    text-decoration: underline;
}

.last-bottom-menu span:active {
    color: var(--basic-red);
} 

.filter input:hover {
    color: var(--basic-special-color-white);
}

.filter-input:active {
    color: var(--basic-special-color-dark-black);
}
