/* Variables */

:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-blue: #32425C;
    --basic-gray: #C5C5C5;
    --basic-darkblue: #293449;
    --basic-darkgray: #B7BFC8;
    --basic-lightwhite: #F3F7F9;
    --basic-whiteblue: #3BBCE3;
    --basic-lightgreen: #8ED78F;
    --basic-pink: #DC91D8;
    --basic-orange: #FFBF47;
    --basic-carrot-orange: #FFC047;
    --basic-lightgray: #EAEAEA;
    --basic-color-gray: #A9A9A9;
    --basic-beige: #F9F5F0;
    --basic-whitegray: #F9F5F0;
    --basic-gold: #FFD180;
    --basic-lightblack: #212A3A;
    --basic-item-gold: #FFDA96;
    --basic-whitebeige: #F4F4F4;
    --basic-againgray: #C1C6CE;
    --basic-specialgray: #E5E5E5;
    --basic-elephant: #ABABAB;
    --basic-cream: #F7F3EC;
    --basic-specialblack: #444444;
    --basic-mouse: #D7DCDE;
    --basic-milk: #F2F6F8;
    --basic-backgroundblue: #F1F5F7;
    --basic-background-light-blue: #F3F7F8;
    --basic-background-green: #5FBB2D;
    --basic-background-red: #BA2732;
    --basic-background-black: #161D29;
    --basic-background-hover-blue: #3D546F;
    --basic-background-active-blue: #1D2739;
    --basic-background-dark-green: #518534;
    --basic-special-color-gray: rgba(255, 255, 255, 0.5);
    --basic-special-color-black: rgba(0, 0, 0, 0.25);
    --basic-special-color-blue: rgb(50, 66, 92, 0.5);
    --basic-special-color-double-gray: rgb(241, 245, 247, 0.5);
    --basic-special-color-beige: rgb(255, 209, 128, 0.5);
    --basic-special-color-dark-black: rgb(0, 0, 0, 0.4);
    --basic-special-color-white: #B5B5B5;
    --basic-special-rgb-white: rgb(255, 255, 255, 0.15);
    --basic-opacity-white: rgb(255, 255, 255, 0.3);
    --basic-opacity-gray: rgb(197, 197, 197, 0.3);
    --basic-opacity-color-gray: rgb(169, 169, 169, 0.3);
    --basic-opacity-black: rgb(0, 0, 0, 0.15);
    --basic-opacity-color-black: rgb(0, 0, 0, 0.3);
    --basic-shadow-black : rgba(0, 0, 0, 0.15);
    --basic-shadow-green: #367315;
    --basic-shadow-blue: rgba(41, 52, 73, 0.75);
    --basic-background-beige: #F1F1F1;
    --basic-border: #405069;
    --basic-services-background-red: #FF5357;
    --basic-filter: #D7DCDE;
    --basic-bar: #00CA74;
    --box-shadow: #cfcfcf;
    --basic-logo: rgba(186, 39, 50, 1);
    --basic-logo-shadow: #6C171D;
    --basic-red-special: #CA2C37;
}

/* Global */

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: normal;
    background-color: var(--basic-white);
    line-height: 24px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* header */

.logo-top {
    display: block;
    position: relative;
    padding: 12px 57px 12px 55px;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px var(--basic-special-color-black);
    width: 220px;
    height: 47px;
    box-sizing: border-box;
}

.logo-top:active {
    background-color: var(--basic-logo);
    box-shadow: inset 0px -5px 0px var(--basic-logo-shadow);
}

.main-header {
    font-family: "Cuprum", "Arial", sans-serif;
    background-color: var(--basic-background-light-blue);
    font-size: 18px;
    min-height: 320px;
}

.main-header svg {
    opacity: 0.3;
}

.top-menu input:hover + svg {
    opacity: 1;
}

.top-menu input:focus + svg path {
    fill: var(--basic-red);
    opacity: 1;
}

.top-menu a:hover svg {
    opacity: 1;
}

.top-menu {
    color: var(--basic-white);
    background-color: var(--basic-darkblue);

}

.top-menu a {
    color: var(--basic-white);
}

.top-input {
    position: relative;
}

.top-input svg {
    position: absolute;
    left: 17px;
    top: 12px;
    cursor: pointer;
}

.top-menu input {
    min-height: 42px;
    width: 271px;
    border: none;
    background-color: var(--basic-darkblue);
    cursor: pointer;
    padding-left: 42px;
    line-height: 24px;
}

.top-menu input::placeholder {
    color: var(--basic-white);
}

.top-bookmarks {
    display: flex;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 43px;
    min-height: 33px;
    width: 164px;
    box-sizing: border-box;
    position: relative;
}

.top-bookmarks svg {
    position: absolute;
    left: 20px;
    top: 13px;
}

.top-basket {
    display: flex;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 35px;
    min-height: 33px;
    width: 136px;
    box-sizing: border-box;
    position: relative;
}

.top-basket svg {
    position: absolute;
    top: 13px;
    left: 12px;
    width: 15px;
    height: 15px;
}

.buy-order {
    background-color: var(--basic-green);
    width: 150px;
    padding-top: 9px;
    padding-bottom: 9px;
    display: flex;
    justify-content: center;
}

.buy-order:hover {
    background-color: var(--basic-background-green);
}

.main-header h1 {
    font-size: 16px;
    font-style: italic;
    color: var(--basic-red);
    font-weight: normal;
}

.company-info a {
    display: block;
    line-height: 30px;
    box-sizing: border-box;
    border: 3px solid var(--basic-white);
    font-size: 21px;
    color: var(--basic-red);
    font-weight: bold;
    padding-left: 71px;
    padding-right: 42px;
    padding-bottom: 5px;
    padding-top: 3px;
    margin-top: 46px;
    height: 45px;
    position: relative;
}

.company-info address {
    display: block;
    color: var(--basic-blue);
    font-size: 14px;
    font-style: normal;
    margin-top: 3px;
    line-height: 24px;
    padding-left: 10px;
}

.div-login {
    height: 158px;
}

.login {
    font-size: 21px;
    list-style: none;
    margin-top: 46px;
    padding-left: 0;
    display: flex;
    line-height: 21px;
    position: relative;

}

.login li:first-of-type {
    display: block;
    min-width: 121px;
    margin-right: 10px;
    background-color: var(--basic-white);
    min-height: 45px;
}

.login li:last-of-type {
    display: block;
    min-width: 150px;
    background-color: var(--basic-white);
    min-height: 45px;
}

.entry-href {
    display: block;
    color: var(--basic-black);
    margin-left: 45px;
    margin-top: 12px;
    height: 100%;
}

.entry-href svg {
    position: absolute;
    left: 18px;
    top: 14px;
    opacity: 1;
}

.registration-href {
    display: block;
    color: var(--basic-black);
    margin-left: 24px;
    margin-top: 12px;
    height: 100%;
}

.menu-navigation {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 60px;
    min-width: 940px;
    box-sizing: border-box;
    box-shadow: inset 0px -5px 0px var(--basic-darkblue);
    line-height: 24px;
}

.menu-navigation.container {
    padding-left: 21px;
    padding-right: 22px;
}

.menu-navigation li {
    display: block;
    height: 60px;
    flex-grow: 1;
}

.menu-navigation a {
    display: block;
    color: var(--basic-white);
    padding-top: 16px;
    padding-bottom: 20px;
    line-height: 24px;
    padding-left: 31px;
    padding-right: 24px;
}

/* Main page */

.mini-menu {
    font-family: "Cuprum", "Arial", sans-serif;
    color: var(--basic-white);
    font-weight: bold;
    font-size: 24px;
    width: 300px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    grid-gap: 20px;
    margin-top: 59px;
}

.mini-menu-item p {
    display: block;
    padding-left: 23px;
    padding-top: 20px;
    line-height: 30px;
    margin: 0;
}

.mini-menu a {
    font-family: "Cuprum", "Arial", sans-serif;
    color: var(--basic-white);
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: var(--basic-opacity-white);
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    width: 135px;
    height: 38px;
    margin-left: 23px;
    margin-top: 14px;
    line-height: 18px;
}

.mini-menu-item {
    position: relative;
}

.mini-menu-svg {
    position: absolute;
}

.svg-materials {
    top: 31px;
    right: 43px;
}

.svg-tool {
    top: 34px;
    right: 31px;
}

.svg-equipment {
    top: 31px;
    right: 31px;
}

.svg-discounts {
    top: 26px;
    right: 45px;
}

.svg-delivery {
    top: 32px;
    right: 31px;
}

.materials {
    background-color: var(--basic-orange);
    position: relative;
}

.materials::after {
    content: "";
    background-image: url(../img/new.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
}

.tool {
    background-color: var(--basic-whiteblue);
}

.equipment {
    background-color: var(--basic-pink);
}

.discounts {
    background-color: var(--basic-lightgreen);
    grid-column: 3;
    grid-row: 2;
}

.delivery {
    background-color: var(--basic-carrot-orange);
    font-weight: bold;
    grid-column: 3;
    grid-row: 3;
}

.popular-heading {
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    background-color: var(--basic-beige);
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    min-height: 89px;
}

.popular-heading h2 {
    color: var(--basic-blue);
    font-weight: normal;
    line-height: 30px;
    font-size: 30px;
    margin: 0;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 28px;
}

.popular-heading a {
    display: block;
    padding: 11px 24px 9px 24px;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
    margin-right: 14px;
}

.all-heading {
    margin-top: 70px;
    font-family: "Cuprum", "Arial", sans-serif;
}

.all-heading a {
    display: block;
    padding-left: 39px;
    padding-right: 38px;
    margin-top: 25px;
    margin-right: 19px;
    margin-bottom: 26px;
}

.popular-manufacturers {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px 145px;
    grid-gap: 20px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.popular-manufacturers a {
    display: block;
    width: 220px;
    height: 145px;
}

.services {
    height: 522px;
    background-color: var(--basic-backgroundblue);
    position: relative;
}

.services-div {
    position: relative;
}

.services .container {
    position: relative;
}

.services-slide {
    position: relative;
    display: none;
}

.services-slide-delivery::after {
    background-image: url(../img/car.png);
    content: "";
    width: 619px;
    height: 283px;
    background-repeat: no-repeat;
    position: absolute;
    top: 22px;
    left: 231px;
}

.services-slide-guarantee::after {
    content: "";
    width: 389px;
    height: 283px;
    background-image: url(../img/medal.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -2px;
    left: 319px;
}

.services-slide-credit::after {
    background-image: url(../img/credit.png);
    content: "";
    width: 465px;
    height: 285px;
    background-repeat: no-repeat;
    position: absolute;
    top: -2px;
    left: 245px;
}

.services-slide-view {
    display: block;
}


.services-buttons {
    margin-top: 3px;
    position: relative;
    line-height: 30px;
}

.services h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 64px;
    margin: 0;
    line-height: 30px;
}

.services p {
    margin-top: 25px; 
    margin-bottom: 70px;
}

.services-slide-delivery p {
    margin-top: 30px;
}

.services-slide-guarantee p {
    margin-top: 24px;
}

.services-slide-credit p {
    margin-top: 29px;
}

.services button {
    display: block;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: var(--basic-white);
    line-height: 30px;
    background-color: var(--basic-blue);
    cursor: pointer;
    border: none;
    border-top: 1px solid var(--basic-border);
    border-bottom: 1px solid var(--basic-darkblue);
    height: 61px;
    padding-left: 22px;
    padding-top: 13px;
    padding-bottom: 17px;
    padding-right: 158px;
    max-width: 240px;
}

.services-buttons::after {
    content: "";
    background-image: url(../img/column.png);
    width: 10px;
    height: 279px;
    position: absolute;
    left: 230px;
    top: -49px;
}

.services-flex {
    display: flex;
    align-items: flex-start;
}

.services-bottom {
    margin: 0;
    padding: 0;
}

.services-three {
    padding-left: 0;
    list-style: none;
    margin-left: 80px;
    display: none;
}

.services-view  {
    display: block;
}

.services-buttons .button-view {
    color: var(--basic-blue);
    background-color: var(--basic-white);
    border: none;
    box-shadow: none;
}

.services-buttons .button-view:hover {
    background: var(--basic-white);
}

.services-bottom h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    color: var(--basic-blue);
    font-size: 30px;
    margin: 0;
    margin-left: 80px;
    padding: 0;
    line-height: 30px;
}

.services-bottom p {
    line-height: 24px;
    margin-bottom: 26px;
    margin-left: 80px;
    line-height: 24px;
}

.services-bottom a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    color: var(--basic-white);
    background-color: var(--basic-services-background-red);
    text-transform: uppercase;
    border-radius: 5px 5px;
    margin-left: 80px;
    display: block;
    width: 195px;
    height: 38px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.div-slides {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
}

.slides {
    margin: 0;
    padding-left: 0;
    height: 100%;
}

.slides h2  {
    font-size: 36px;
    color: var(--basic-white);
    font-weight: bold; 
    margin-top: 23px;
    margin-left: 24px;
    margin-bottom: 0;
    line-height: 36px;
    text-transform: uppercase;
}

.slides p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    color: var(--basic-white);
    display: block;
    margin-left: 24px;
    margin-top: 5px;
    font-weight: normal;
}

.slider-item a {
    display: block;
    width: 192px;
    height: 38px;
    padding-left: 46px;
    padding-right: 46px;
    margin-left: 24px;
    margin-top: 113px;
    background-color: var(--basic-red);
    color: var(--basic-white);
    text-transform: uppercase;
}

.left-button {
    position: absolute;
    left: 24px;
    top: 122px;
}

.right-button {
    position: absolute;
    right: 20px;
    top: 122px;
    transform: rotate(-180deg);
}

.switches button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../img/icon-left.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 40px;
}

.slides-button {
    cursor: pointer;
    position: absolute;
    left: 295px;
    bottom: 36px;
}

.slides-button button {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    padding: 0;
    color: var(--basic-white);
    border-radius: 50%;
    border: 2px solid var(--basic-white);
    cursor: pointer;
}

.slides-button .slides-button-first {
    color: var(--basic-red);
    background-color: red;
}

.slider-item {
    display: none;
}

.toys {
    display: block;
}

.div-slide-1 {
    background-image: url(../img/first-drill.jpg);
}

.div-slide-2 {
    background-image: url(../img/second-drill.jpg);
}

.bottom-info-company {
    background-color: var(--basic-white);
    height: 496px;
}

.bottom-info-company h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.bottom-info-company p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
}

.bottom-map {
    display: block;
    height: 158px;
    margin-bottom: 0;
}

.bottom-map img {
    background-color: var(--basic-beige);
}


.first-link {
    width: 220px;
    height: 38px;
    background-color: var(--basic-red);
    margin-top: 20px;
}

.firs-link a {
    line-height: 18px;
}

.second-link {
    width: 300px;
    height: 38px;
    background-color: var(--basic-red);
    margin-top: 25px;
}

.link-red {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--basic-white);
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
}

.first-link .link-red {
    margin-top: 11px;
    margin-right: 40px;
    margin-left: 40px;
}

.second-link .link-red {
    margin-top: 11px;
    margin-right: 61px;
    margin-bottom: 9px;
    margin-left: 62px;
}

.partners {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding-left: 0;
    list-style: none;
    position: relative;
}

.partners li {
    margin-left: 37px;
    position: relative;
    margin-bottom: 12px;
    margin-top: 1px;
    line-height: 24px;
}

.one-hyphen {
    position: absolute;
    left: -37px;
    top: 14px;
}

.two-hyphen {
    position: absolute;
    left: -37px;
    top: 14px;
}

.three-hyphen {
    position: absolute;
    left: -37px;
    top: 14px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.big-map {
    position: fixed;
    left: 0;
    top: 0;
    width: 943px;
    height: 449px;
    border-top: 7px solid var(--basic-red);
    left: 50%;
    top: 50%;
    margin-left: -472px;
    margin-top: -224px;
    box-shadow: 0px 4px 20px var(--basic-opacity-black);
    display: none;
}

.big-map iframe {
    width: 100%;
    height: 100%;
}

.big-map button {
    position: absolute;
    height: 21px;
    width: 21px;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../img/icon-close.svg);
    background-repeat: no-repeat;
    outline: none;
}





/* End Main page*/

/* footer */

.bottom-logo {
    height: 68px;
}

.main-footer {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    background-color: var(--basic-blue);
}

.main-footer address {
    color:  var(--basic-lightwhite);
    font-style: normal;
} 

.telephone-number {
    color:  var(--basic-lightwhite);
    font-style: normal;
}

.main-footer li {
    list-style-type: none;
}

.bottom-white-menu a   {
    color: var(--basic-backgroundblue);
}

.bottom-gold-menu a {
    color: var(--basic-gold);
}

.bottom-gold-menu-alone  {
    color: var(--basic-item-gold);
}

.icon-social {
    display: block;
}

.div-feedback {
    width: 620px;
    padding-top: 39px;
    background-position: top;
    box-shadow: 0px 4px 20px var(--basic-shadow-black);
    position: relative;
    border-top: 7px solid var(--basic-red);
}

.div-feedback-button {
    width: 100%;
    box-sizing: border-box;
    height: 112px;
    background-color: var(--basic-whitebeige);
    margin-left: 0;
    padding-top: 1px;
    margin-top: 37px;
}

.flex-feedback {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div-feedback-button button {
    width: 460px;
    height: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
    background-color: var(--basic-red);
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    color: var(--basic-white);
}


.close-button {
    position: absolute;
    height: 21px;
    width: 21px;
    top: 14px;
    right: 11px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../img/icon-close.svg);
    background-repeat: no-repeat;
    outline: none;
} 

.pop-up-feedback {
    position: fixed;
    background-color: var(--basic-white);
    left: 50%;
    top: 50%;
    margin-left: -310px;
    margin-top: -215px;
    display: none;
}

.pop-up-feedback span {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    position: relative;
}

.pop-up-modal-view {
    display: block;
    animation: bounce 0.6s;
}

.modal-map {
    display: block;
}

.modal-error {
    animation: shake 0.6s;
}

.div-name-feedback,
.div-email-feedback {
    width: 220px;
}

.div-name-feedback input,
.div-email-feedback input {
    margin-top: 11px;
    width: 220px;
    height: 38px;
    padding-left: 12px;
    line-height: 24px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid var(--basic-gray);
}

.div-text-feedback {
    width: 460px;
    margin-top: 13px;
}

.div-text-feedback label {
    display: flex;
    flex-wrap: wrap;
}

.div-text-feedback textarea {
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid var(--basic-gray);
    padding-left: 12px;
    padding-bottom: 0;
    min-width: 460px;
    min-height: 114px;
    line-height: 24px;
    margin-top: 11px;
}

/* catalog */

.top-menu-basket {
    background-color: var(--basic-red);
    display: flex;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 35px;
    min-height: 33px;
    width: 136px;
    box-sizing: border-box;
    position: relative;
}

.login-entry {
    height: 158px;
    margin-left: 51px;
}

.login-user {
    min-width: 299px;
    position: relative;
}

.login-user a {
    color: var(--basic-black);
}

.login-user svg {
    opacity: 1;
}

.info-user-div {
    margin-top: 7px;
    position: relative;
    width: 100%;
    line-height: 18px;
}

.name-user {
    display: block;
    margin-top: 42px;
    background-color: var(--basic-white);
}

.svg-user-login {
    position: absolute;
    left: 15px;
    top: 13px;
}

.svg-entry {
    position: absolute;
    right: 17px;
    top: 14px;
}


.login-user a:nth-child(1) {
    display: block;
    font-size: 21px;
    padding: 12px 57px 12px 56px;

}

.info-user {
    color: var(--basic-blue);
    font-size: 16px;
    list-style-type: none;
}

.info-user-div a:first-of-type {
    margin-left: 44px;
    margin-right: 29px;
}


.info-user-div svg {
    position: absolute;
    top: 7px;
    left: 133px;
    opacity: 1;
}

.info-user-div:hover path {
    fill: var(--basic-red);
    opacity: 1;
}

.info-user-div:active path {
    fill: var(--basic-gray);
    opacity: 1;
}

.history-pages {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 0;
    position: relative;
    line-height: 18px;
    margin-top: 20px;
    order: -1;
    margin-bottom: 20px;
    display: flex;
    padding-right: 106px;
    justify-content: flex-start;
    width: 463px;
}

.history-pages a {
    color: var(--basic-black);
}

.history-pages li {
    display: block;
}

.history-pages li:nth-of-type(2) {
    margin-left: 41px;
    margin-right: 40px;
}

.history-pages li:nth-of-type(3) {
    margin-right: 42px;
}

.svg-history-pages-one {
    position: absolute;
    left: 29px;
    top: 3px;
}

.svg-history-pages-two {
    position: absolute;
    left: 124px;
    top: 3px;
}

.svg-history-pages-three  {
    position: absolute;
    left: 244px;
    top: 3px;
}


.main-heading {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: var(--basic-blue);
    text-transform: uppercase;
    background-color: var(--basic-milk);
    line-height: 30px;  
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 29px;
    display: block;
    margin:0;
}

.sorting-grid {
    position: relative;
}

.sorting {
    background-color: var(--basic-cream);
    align-items: center;
    line-height: 18px;
    display: flex;
    margin-top: 20px;
    margin-left: 21px;
    margin-bottom: 28px;
    position: relative;
    height: 38px;
    border-radius: 5px;
}

.sorting ul {
    list-style: none;
    padding-left: 0;
    margin-left: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sorting li {
    display: block;
    border-bottom: 1px dotted var(--basic-red);
    line-height: 18px;
}

.sorting-type {
    margin-left: 70px;
    margin-right: 65px;
}

.sorting-function {
    margin-right: 46px;
}

.sorting li:hover {
    color: var(--basic-black);
    border-bottom: 1px solid var(--basic-red);
}

.arrow-svg path:hover {
    fill: var(--basic-black);
}

.sorting path:active {
    color: var(--basic-red);
    fill: var(--basic-red);
}

.arrow-up {
    margin-right: 21px;
}

.sorting a {
    list-style-type: none;
    color: var(--basic-opacity-color-black);
    text-transform: uppercase;
}

.sorting span {
    color: var(--basic-red);
    line-height: 18px;
}

.arrow-down svg {
    transform: rotate(180deg);
}

.filter-alone {
    display: block;
    background-color: var(--basic-cream);
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    line-height: 18px;
    border-radius: 5px;
}

.sorting p {
    text-transform: uppercase;
    margin: 0;
    margin-left: 19px;
}

.filter-price {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    margin-top: 11px;
    margin-bottom: 42px;
    width: 220px;
}

.range-controls {
    height: 41px;
    background-color: var(--basic-cream);
    border-radius: 5px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.range-controls::after {
    content: ""; 
    background-image: url(../img/line.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: -72px;
    width: 220px;
    height: 1px;
}

.range-controls .scale {
    height: 2px;
    background-color: var(--basic-filter);
}

.bar {
    width: 84%;
    height: 2px;
    background: var(--basic-bar);
}

.range-controls .toggle {
    width: 4px;
    height: 4px;
    padding: 0;
    background-color: var(--basic-elephant);
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--box-shadow);
    position: absolute;
    top: 29px;
    left: 0;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.filter-price input {
    font-size: 17px;
    background-color: var(--basic-cream);
    width: 95px;
    height: 38px;
    border: none;
    border-radius: 5px;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 18px;
}

.price-controls input {
    line-height: 18px;
}

.price-controls span {
    line-height: 18px;
    font-size: 16px;
}

.filter-price legend {
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}

.filter {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    width: 220px;
}

.filter li {
    display: block;
    margin-bottom: 20px;
    line-height: 19px;
}

.filter .hitachi-li {
    margin-bottom: 0;
}

.filter fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.filter label {
    display: block;
    position: relative;
    cursor: pointer;
    width: 90px;
}

.filter .type-nutrition {
    position: relative;
    margin: 0;
}

.type-nutrition li {
    line-height: 19px;
    margin-bottom: 0;
}

.type-nutrition li:nth-of-type(1) {
    margin-top: 23px;
}

.type-nutrition li:nth-of-type(2) {
    margin-top: 22px;
}

.filter-manufacturers {
    position: relative;
}

.filter-manufacturers::after {
    content: ""; 
    background-image: url(../img/line.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: -27px;
    width: 220px;
    height: 1px;
}

.filter .fieldset-nutrition {
    margin-top: 46px;
}

.fieldset-nutrition li:last-of-type {
    margin-top: 22px;
}

.type-nutrition svg {
    position: absolute;
    left: -35px;
    top: 0;
}

.radio-on {
    display: none;
}

.input-radio:checked + .radio-on {
    display: block;
}

.input-radio:checked ~ .radio-off {
    display: none;
}

.input-radio:disabled ~ .filter-svg {
    opacity: 0.3;
}
.input-radio:disabled ~ span {
    opacity: 0.3;
}

.filter ul {
    list-style: none;
    padding-left: 35px;
    margin-top: 17px;
    margin-bottom: 0;
}

.filter legend {
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
}

.filter button {
    font-size: 13px;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-specialgray);
    text-transform: uppercase;
    line-height: 18px;
    width: 220px;
    height: 38px;
    cursor: pointer;
    padding: 0;
    margin-top: 38px;
}

.filter-checkbox-image-on  {
    position: absolute;
    left: -35px;
    top: -2px;
    display: none;
    cursor: pointer;
}

.filter-checkbox-image-off {
    position: absolute;
    left: -35px;
    top: -2px;
    cursor: pointer;
}

.filter-checkbox:checked + .filter-checkbox-image-on {
    display: block;
}

.filter-checkbox:checked ~ .filter-checkbox-image-off {
    display: none;
}

.filter-label:hover path {
    fill: var(--basic-special-color-white);
}

.filter-checkbox:disabled ~ .filter-svg {
    opacity: 0.3
}

.filter-checkbox:disabled ~ span {
    opacity: 0.3;
}

.catalog-cards {
    margin-left: 20px;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    font-family: "PT Sans", "Arial", sans-serif;
    display: grid;
    grid-row-gap: 18px;
    grid-column-gap: 20px;
    grid-template-columns: 220px 220px 220px;
}

.catalog-cards h3 {
    display: block;
    margin-top: 8px;
    margin-bottom: 0;
    padding-left: 18px;
    padding-right: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.card {
    width: 218px;
    height: 316px;
    border: 1px solid var(--basic-lightgray);
    position: relative;
}

.new-product::after {
    content: "";
    background-image: url(../img/new.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
}

.card:hover .change-page {
    display: block;
}

.card:hover {
    box-shadow: 0px 4px 20px var(--basic-shadow-black);
}

.div-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

.div-card-image img {
    margin-right: 10px;
}

.first-price {
    font-size: 17px;
    font-weight: bold;
    color: var(--basic-color-gray);
    text-transform: uppercase;
    text-decoration: line-through;
    text-align: center;
    display: block;
    margin-top: 7px;
    height: 18px;
}

.div-last-price {
    margin-bottom: 21px;
    background-repeat: no-repeat;
    height: 39px;
    margin: 13px 34px 21px 45px;
}

.div-last-price p {
    font-size: 17px;
    color: var(--basic-white);
    font-weight: bold;
    line-height: 18px;
    width: 141px;
    background-image: url(../img/red-button.svg);
    background-repeat: no-repeat;
    padding: 10px 0px 10px 32px;
}

.change-page {
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--basic-white);
    width: 218px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;

}

.change-page-first {
    font-family: "Cuprum", "Arial", sans-serif;
    width: 135px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-green);
    color: var(--basic-white);
    display: block;
    box-shadow: inset 0px -3px 0px var(--basic-shadow-green);
    padding: 10px 41px 10px 54px;
    border-radius: 2px;
    position: relative;
    margin-left: 41px;
    margin-right: 44px;
    margin-top: 38px;
}

.change-page-first::before {
    content: "";
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 30px;
    top: 10px;
    width: 15px;
    height: 15px;
}

.change-page-second {
    font-family: "Cuprum", "Arial", sans-serif;
    height: 12px;
    width: 129px;
    font-size: 14px;
    line-height: 18px;
    border: 3px solid var(--basic-green);
    color: var(--basic-blue);
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-left: 41px;
}

.one-two-three {
    margin-top: 48px;
    margin-bottom: 59px; 
    padding-left: 0;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.one-two-three ul {
    padding: 0;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-two-three li {
    list-style-type: none;
    border: 1px solid var(--basic-specialgray);
    display: block;
    line-height: 18px;
    margin-right: 10px;
}

.one-two-three a {
    color: var(--basic-black);
}

.one-two-three li  {
    color: var(--basic-white);
    box-sizing: border-box;
}

.pages-view {
    background-color: var(--basic-red);
}

.pages-view a   {
    color: var(--basic-white);
}

.one-two-three li:last-of-type {
    padding: 10px 31px 10px 32px;
}

.pages-bottom {
    padding: 10px 15px;
    width: 38px;
    height: 38px;
}

.menu-bottom {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    width: 549px;
}

.last-bottom-menu {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    color: var(--basic-white);
    font-size: 16px;
    background-color: var(--basic-darkblue);
}

.last-bottom-menu p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 18px;
}

.copyright {
    margin-left: 1px;
    display: flex;
    flex-wrap: wrap;
    width: 227px;
}
.last-bottom-menu p:first-of-type {
    display: block;
    padding: 0;
}

.last-bottom-menu-mail {
    color: var(--basic-gold);
}

.about-drill {
    background-color: var(--basic-backgroundblue);
    padding-top: 64px;
    padding-bottom: 68px;
}

.about-drill h2{
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    line-height: 30px;
    margin-bottom: 25px;
}

.about-drill p {
    margin: 0;
    line-height: 24px;
}


/* interactive elements */

.buy-oder:hover {
    background-color: var(--basic-background-green);
}

.buy-order:active {
    color: var(--basic-special-color-gray);
    box-shadow: 0px 4px 4px 0, 0, 0, var(--basic-special-color-black);
}

.active-top-menu:active {
    color: var(--basic-special-color-gray);
    background-color: var(--basic-background-black);
}

.top-menu input:focus {
    background-color: var(--basic-white);
}

.login a:hover {
    color: var(--basic-red);
}

.login a:hover path {
    fill: var(--basic-background-hover-blue);
    opacity: 1;
}

.login a:active {
    color: var(--basic-gray);
}


.login a:active path {
    fill:var(--basic-gray);
}

.login-user a:active {
    color: var(--basic-gray);
}

.name-user path:hover {
    fill: var(--basic-background-hover-blue);
    opacity: 1;
}

.svg-entry:hover path {
    fill: var(--basic-background-hover-blue);
    opacity: 1;
}

.login-user:active path {
    fill: var(--basic-gray);
    opacity: 1;
}

.info-user:hover {
    color: var(--basic-red);
}

.info-user:active {
    color: var(--basic-gray);
}

.menu-navigation a:hover {   
    background-color: var(--basic-darkblue);
}

.menu-navigation a:active {
    color: var(--basic-special-color-gray);
    background-color: var(--basic-background-active-blue);
}

.mini-menu a:hover {
    background-color: var(--basic-opacity-gray);
}

.mini-menu a:active {
    background-color: var(--basic-opacity-color-gray);
}

.sorting a:hover {
    color: var(--basic-black);
    text-decoration-style: solid;
    text-decoration-color: var(--basic-red);
}

.sorting a:active {
    color: var(--basic-red);
    text-decoration: none;
}

.one-two-three li:hover {
    border: 1px solid var(--basic-gray);
}

.one-two-three li:active {
    color: var(--basic-black);
    border: 1px solid var(--basic-red);
}

.slider-item .open-catalog:hover {
    background-color: var(--basic-red-special);
}

.slider-item .open-catalog:active {
    background-color: var(--basic-background-red);
    box-shadow: 0px 4px 4px var(--basic-special-color-black);
}

.change-page-first:hover {
    background-color: var(--basic-background-green);
}

.change-page-first:active {
    background-color: var(--basic-background-dark-green);
}

.change-page-second:hover {
    color: var(--basic-blue);
    border: 3px solid var(--basic-blue);
}

.change-page-second:active {
    color: var(--basic-special-color-blue);
    border: 3px solid var(--basic-special-color-blue);
}

.popular-manufacturers a:hover {
    box-shadow: 0px 4px 20px var(--basic-opacity-black);
}
.popular-manufacturers a:active {
    opacity: 0.5;
}

.services button:hover {
    background-color: var(--basic-darkblue);
}

.services button:active {
    color: var(--basic-blue);
    background-color: var(--basic-white); /* Нужно убрать рамку при нажатии */
}

.menu-bottom a:hover {
    text-decoration: underline;
}

.bottom-white-menu a:active {
    color: var(--basic-special-color-double-gray);
    text-decoration: none;
}

.bottom-gold-menu a:hover {
    text-decoration: underline;
}

.bottom-gold-menu a:active {
    color: var(--basic-special-color-beige);
    text-decoration: none;
}

.bottom-gold-menu span:active {
    color: var(--basic-special-color-beige);
}

.last-bottom-menu span:hover {
    text-decoration: underline;
}

.last-bottom-menu span:active {
    color: var(--basic-red);
} 

/* Flex and grid */

.html-grid {
    height: 100%;
}

.body-grid {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1ft min-content;
    align-content: start;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.top-menu .container {
    display: flex;
    align-items: center;
    height: 42px;
}

.second-top-menu.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 158px;
}

.login li {
    display: inline;
}

.bottom-info-company .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.bottom-info-company h2 {
    margin-top: 70px;
}

.company-partners p {
    line-height: 24px;

}

.company-partners ul {
    margin-top: 0;
}

.company-partners p:last-of-type {
    margin-bottom: 0;
}

.company-partners h2 {
    margin-top: 70px;
    line-height: 30px;
}

.we-can-do {
    margin-top: 24px;
    line-height: 24px;
}

.company-contacts {
    width: 300px;
    height: 100%;
}

.company-contacts p {
    margin-bottom: 32px;
    width: 180px;
}

.company-contacts h2 {
    margin-top: 70px;
    line-height: 30px;
}

.company-partners,
.company-contacts {
    min-height: 496px;
}

.bottom-white-menu li {
    display: block;
}

.bottom-gold-menu li {
    display: block;
}

.first-bottom-menu .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom-white-menu li:nth-child(5) {
    margin-left: 59px;
}

.bottom-white-menu li:nth-child(4) {
    margin-left: 60px;
}

.bottom-white-menu li:nth-child(3) {
    margin-left: 58px;
}

.bottom-white-menu li:nth-child(2) {
    margin-left: 58px;
}

.bottom-white-menu {
    padding-left: 0;
    margin-top: 37px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom-gold-menu {
    padding-left: 0;
    margin-bottom: 74px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 27px;
    width: 523px;
}

.bottom-address {
    margin-bottom: 54px;
    margin-left: 3px;
    margin-top: 22px;
}

.bottom-second-menu .container {
    display: flex;
    justify-content: space-between;
}

.bottom-gold-menu li:nth-child(4) {
    margin-left: 59px;
}

.bottom-gold-menu li:nth-child(3) {
    margin-left: 60px;
}

.bottom-gold-menu li:nth-child(2) {
    margin-left: 58px;
}

.last-bottom-menu .container {
    display: flex;
    padding-top: 36px;
    padding-bottom: 34px;
}

.social-networks {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    margin-left: 161px;
}

.social-networks li {
    width: 44px;
    height: 44px;
    background-color: var(--basic-lightblack);
    border-radius: 50%;
    margin-left: 1px;
}

.social-networks li:hover {
    background-color: var(--basic-red);
}

.vk {
    margin: 14px 9px 15px 9px;
}

.fb {
    margin: 11px 16px;
}

.inst {
    margin: 11px 12px;
}

.last-bottom-menu-info {
    display: flex;
    margin-left: 118px;
}

.double-top-menu .container {
    display: flex;
    align-items: center;
}

.double-top-menu {
    min-height: 158px;
}

.online-magazine {
    min-width: 227px;
    margin-top: 42px;
    margin-bottom: 44px;
}

.double-top-menu h1 {
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    padding-left: 30px;

}

.company-info {
    height: 158px;
    width: 270px;
    margin-left: 93px;
    margin-right: 69px;
    position: relative;
}

.company-info.catalog-info {
    margin-right: 0;
}

.company-info-number {
    width: 270px;
}

.company-info a::before {
    position: absolute;
    content: "";
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    left: 36px;
    top: 8px;;
}

.top-main-flex .container {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    justify-content: space-between;
}

.top-main-flex {
    display: flex;
    flex-direction: column;
}

.bottom-mail-first {
    width: 137px;
    margin-right: 51px;
}

.bottom-mail-second {
    width: 98px;
}

.first-page {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-grid {
    width: 220px;
}

.big-catalog-flex {
    display: flex;
    flex-wrap: wrap;
}

.two-main-flex {
   display: flex;
   flex-direction: column;
}

.main-mini-catalog {
    position: relative;
}

.pop-up-basket {
    width: 620px;
    background-color: var(--basic-white);
    border-top: 7px solid var(--basic-red);
    box-shadow: 0px 20px 40px var(--basic-shadow-blue);
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    padding: 0;
    margin-left: -310px;
    margin-top: -141px;
    display: none;  
}

.pop-up-basket-head {
    font-family: "Cuprum", "Arial", sans-serif;
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 67px;
}

.pop-up-basket-head p {
    margin-top: 66px;
    font-weight: bold;
    margin-bottom: 0;
}

.pop-up-basket-head p::before {
    content: "";
    background-image: url(../img/icon-mark.svg);
    width: 66px;
    height: 66px;
    left: 81px;
    top: 48px;
    position: absolute;
}

.pop-up-basket-head button {
    position: absolute;
    height: 21px;
    width: 21px;
    top: 11px;
    right: 11px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../img/icon-close.svg);
    background-repeat: no-repeat;
    outline: none;
}

.pop-up-basket-buttons {
    height: 112px;
    width: 100%;
    background-color: var(--basic-background-beige);
    display: flex;
    align-items: center;
}

.pop-up-basket-buttons a:first-of-type {
    display: block;
    background-color: var(--basic-red);
    width: 192px;
    height: 27px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-white);
    padding-top: 11px;
    margin-left: 114px;
    margin-right: 10px;
}

.pop-up-basket-buttons a:last-of-type {
    display: block;
    background-color: var(--basic-white);
    width: 192px;
    height: 27px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-black);
    padding-top: 11px;
}

.modal-buy {
    display: block;
    animation: bounce-two 0.6s;
}

/* Animations */

@keyframes bounce {
    0% {
        transform: translateX(3000px);
    }

    70% {
        transform: translateX(30px);
    }

    90% {
        transform: translateX(50px)
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
}

@keyframes bounce-two {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
}